<head>
    <meta charset="ISO-8859-1">
    <title>Add ToDo Item</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>
<body>
    <div class="container">
        <h1 class="p-3">Add a Todo Item</h1>

        @if(TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["error"]
            </div>
        }

        <form asp-action="SaveTodo" method="post">
            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="Name">Name</label>
                    <div class="col-md-6">
                        <input type="text" name="Name" id="Name"
                              class="form-control input-sm" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="description">Description</label>
                    <div class="col-md-6">
                        <input type="text" name="description" id="description"
                               class="form-control input-sm" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="dateTime">Date and Time</label>
                    <div class="col-md-6">
                        <input type="datetime-local" name="dateTime" id="dateTime"
                                    class="form-control input-sm" required />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label class="col-md-3" for="status">Status</label>
                    <div class="col-md-6">
                        <input type="text" name="status" id="status"
                                    class="form-control input-sm" value="Incomplete" readonly />
                    </div>
                </div>
            </div>

            <div class="row p-2">
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
    </div>
</body>